# Python / Django
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtualenv
venv/
.venv/

# Environment variables
.env

# Media & static generated
media/
staticfiles/

# IDE
.vscode/
.idea/
*.iml

# OS
Thumbs.db
Desktop.ini
